In [1]:
from sklearn.model_selection import cross_val_score
from sklearn.neighbors import KNeighborsRegressor
import pandas as pd
data = pd.read_csv('train_20_final.csv' )

In [2]:
data.isnull().any()

people_ID                 False
Designation               False
Name                       True
Region                    False
Gender                    False
Married                   False
Occupation                False
Mode_transport            False
cases/1M                  False
Deaths/1M                 False
comorbidity               False
Age                       False
Coma score                False
Pulmonary score           False
cardiological pressure    False
Diuresis                  False
Platelets                 False
HBB                       False
d-dimer                   False
Heart rate                False
HDL cholesterol           False
Charlson Index            False
Blood Glucose             False
Insurance                 False
salary                    False
FT/month                  False
Infect_Prob               False
dtype: bool

In [22]:
x=data.iloc[:,3:-2]
y = data.iloc[:,-1]
score = cross_val_score(KNeighborsRegressor() , x , y , cv=10)
print(np.mean(score))

-0.2073294189756349

In [4]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

In [5]:
xtrain , xtest , ytrain , ytest = train_test_split(x,y,test_size = .2 , random_state = 2)

In [6]:
ytrain

7233    47.583939
4136    60.387100
4117    52.608118
1484    47.006049
57      50.846859
          ...
1099    46.378173
2514    49.331673
6637    46.612622
2575    47.531488
7336    45.645554
Name: Infect_Prob, Length: 8571, dtype: float64

In [7]:
knn = KNeighborsRegressor(n_neighbors=5)

In [8]:
data

,people_ID,Designation,Name,Region,Gender,Married,Occupation,Mode_transport,cases/1M,Deaths/1M,...,HBB,d-dimer,Heart rate,HDL cholesterol,Charlson Index,Blood Glucose,Insurance,salary,FT/month,Infect_Prob
0,1,Mrs,mansi,1.0,1.0,1.0,3.0,2.0,2.0,0.0,...,93.0,233.0,82.0,58.0,27.0,7.0,3600000.0,1300000.0,2.000000,49.135010
1,2,Mrs,riya masi,1.0,1.0,1.0,3.0,1.0,2.0,0.0,...,56.0,328.0,89.0,68.0,5.0,6.0,1600000.0,400000.0,1.000000,51.147880
2,3,Mrs,sunita,1.0,1.0,0.0,8.0,2.0,2.0,0.0,...,137.0,213.0,77.0,43.0,40.0,6.0,3400000.0,900000.0,1.000000,73.224000
3,4,Mrs,anjali @ babli,1.0,1.0,1.0,2.0,3.0,2.0,0.0,...,167.0,275.0,64.0,60.0,27.0,7.0,700000.0,2300000.0,1.000000,48.779225
4,5,Mrs,champa karketta,1.0,1.0,0.0,7.0,3.0,2.0,0.0,...,153.0,331.0,71.0,64.0,32.0,7.0,3200000.0,1100000.0,1.000000,87.868800
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10709,22691,Mr,ashish,4.0,0.0,0.0,6.0,3.0,8.0,2.0,...,24.0,209.0,61.0,56.0,35.0,7.0,4000000.0,300000.0,0.000000,41.981760
10710,22692,Mr,mohd mujahid ansari,4.0,0.0,1.0,7.0,3.0,8.0,2.0,...,134.0,211.0,65.0,47.0,35.0,7.0,1500000.0,700000.0,1.004604,47.148663
10711,22693,Mr,munnakumar,4.0,0.0,1.0,5.0,2.0,8.0,2.0,...,151.0,296.0,87.0,37.0,16.0,5.0,3000000.0,2100000.0,2.000000,47.708533
10712,22694,Mr,prakash,4.0,0.0,1.0,1.0,1.0,8.0,2.0,...,110.0,253.0,56.0,70.0,28.0,5.0,2900000.0,700000.0,1.000000,53.803565
10713,22695,Mr,mehboob mehandi,4.0,0.0,0.0,6.0,3.0,8.0,2.0,...,134.0,201.0,82.0,60.0,4.0,3.0,2100000.0,1400000.0,0.000000,68.342400

In [9]:
knn.fit(xtrain,ytrain)

KNeighborsRegressor(algorithm='auto', leaf_size=30, metric='minkowski',
                    metric_params=None, n_jobs=None, n_neighbors=5, p=2,
                    weights='uniform')

In [24]:
pred = knn.predict(xtest)
print(pred)

[58.14976599 51.21163339 51.43798138 ... 48.31251653 51.88554324
 54.17026015]

In [26]:
from sklearn.metrics import mean_absolute_error
print(mean_absolute_error(ytest,pred))

7.146561054669156

In [11]:
knn.score(xtest,ytest)

-0.19039528201182976

In [12]:
clf = LinearRegression()

In [13]:
clf.fit(xtrain,ytrain)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [14]:
clf.predict(xtest)

array([61.36897824, 49.97603591, 53.06949989, ..., 47.75411377,
       62.7798866 , 47.39816644])

In [29]:

import numpy as np
from sklearn import linear_model
from sklearn import svm
from sklearn.metrics import mean_squared_error

classifiers = [
    svm.SVR(),
    linear_model.SGDRegressor(),
    linear_model.BayesianRidge(),
    linear_model.LassoLars(),
    linear_model.PassiveAggressiveRegressor(),
    linear_model.TheilSenRegressor(),
    linear_model.LinearRegression()]

for item in classifiers:
    print(item)
    clf = item
    clf.fit(xtrain, ytrain)
    pred = clf.predict(xtest)
    print(clf.score(xtest,ytest))
    print(mean_squared_error(ytest,pred))

SVR(C=1.0, cache_size=200, coef0=0.0, degree=3, epsilon=0.1,
    gamma='auto_deprecated', kernel='rbf', max_iter=-1, shrinking=True,
    tol=0.001, verbose=False)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\svm\base.py:193: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)

-0.06417771966801289
110.18222903278843
SGDRegressor(alpha=0.0001, average=False, early_stopping=False, epsilon=0.1,
             eta0=0.01, fit_intercept=True, l1_ratio=0.15,
             learning_rate='invscaling', loss='squared_loss', max_iter=1000,
             n_iter_no_change=5, penalty='l2', power_t=0.25, random_state=None,
             shuffle=True, tol=0.001, validation_fraction=0.1, verbose=0,
             warm_start=False)
-7.171233446831659e+39
7.424911003896006e+41
BayesianRidge(alpha_1=1e-06, alpha_2=1e-06, compute_score=False, copy_X=True,
              fit_intercept=True, lambda_1=1e-06, lambda_2=1e-06, n_iter=300,
              normalize=False, tol=0.001, verbose=False)
0.2185609078880282
80.90819741003037
LassoLars(alpha=1.0, copy_X=True, eps=2.220446049250313e-16, fit_intercept=True,
          fit_path=True, max_iter=500, normalize=True, positive=False,
          precompute='auto', verbose=False)
-0.005354390702898559
104.09181256877224
PassiveAggressiveRegressor(C=1.0, average=False, early_stopping=False,
                           epsilon=0.1, fit_intercept=True,
                           loss='epsilon_insensitive', max_iter=1000,
                           n_iter_no_change=5, random_state=None, shuffle=True,
                           tol=0.001, validation_fraction=0.1, verbose=0,
                           warm_start=False)
-3.570335773824847
473.2008326066178
TheilSenRegressor(copy_X=True, fit_intercept=True, max_iter=300,
                  max_subpopulation=10000, n_jobs=None, n_subsamples=None,
                  random_state=None, tol=0.001, verbose=False)
0.21763105288102816
81.00447221023998
LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)
0.21803212524372248
80.96294620747899

In [16]:
test = pd.read_csv('test_final.csv')

In [17]:
test.head()

,people_ID,Designation,Name,Region,Gender,Married,Children,Occupation,Mode_transport,cases/1M,...,Platelets,HBB,d-dimer,Heart rate,HDL cholesterol,Charlson Index,Blood Glucose,Insurance,salary,FT/month
0,5942,Mrs,smt rekha prajapat,2.0,1.0,1.0,2.0,5.0,0.0,4.0,...,153.0,196.0,240.0,85.0,53.0,17.0,3.0,3900000.0,1300000.0,1.0
1,18664,Mr,nirmal,2.0,0.0,1.0,2.0,7.0,2.0,4.0,...,95.0,138.0,241.0,81.0,61.0,2.0,5.0,1800000.0,1300000.0,1.0
2,5603,Mrs,pinky,2.0,1.0,1.0,2.0,2.0,1.0,4.0,...,40.0,166.0,236.0,88.0,47.0,24.0,3.0,5000000.0,2000000.0,2.0
3,5649,Mrs,pooja @aafrin,2.0,1.0,1.0,2.0,2.0,1.0,4.0,...,78.0,83.0,211.0,87.0,52.0,13.0,6.0,3100000.0,600000.0,2.0
4,5099,Mrs,anjali,2.0,1.0,1.0,2.0,8.0,1.0,4.0,...,109.0,207.0,312.0,94.0,68.0,39.0,5.0,2300000.0,1500000.0,1.0

In [18]:
testframe

NameError: name 'testframe' is not defined