In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
df=pd.read_csv('dataset_col_arranged.csv')

In [4]:
df.head()

,people_ID,Designation,Name,Insurance,salary,Age,Gender,Region,Married,Children,...,Diuresis,Platelets,HBB,d-dimer,Heart rate,HDL cholesterol,Charlson Index,Blood Glucose,FT/month,Infect_Prob
0,1,Mrs,mansi,3600000.0,1300000,68,Female,Bhubaneshwar,YES,1.0,...,441,154.0,93.0,233.0,82.0,58.0,27,7,2.0,49.135010
1,2,Mrs,riya masi,1600000.0,400000,64,Female,Bhubaneshwar,YES,2.0,...,151,121.0,56.0,328.0,89.0,68.0,5,6,1.0,51.147880
2,3,Mrs,sunita,3400000.0,900000,19,Female,Bhubaneshwar,NO,1.0,...,416,124.0,137.0,213.0,77.0,43.0,40,6,1.0,73.224000
3,4,Mrs,anjali @ babli,700000.0,2300000,33,Female,Bhubaneshwar,YES,1.0,...,410,98.0,167.0,275.0,64.0,60.0,27,7,1.0,48.779225
4,5,Mrs,champa karketta,3200000.0,1100000,23,Female,Bhubaneshwar,NO,2.0,...,390,21.0,153.0,331.0,71.0,64.0,32,7,1.0,87.868800

In [5]:
df.isna().sum()

people_ID                    0
Designation                  0
Name                        20
Insurance                 1090
salary                       0
Age                          0
Gender                       0
Region                       0
Married                      0
Children                   311
Occupation                 747
Mode_transport               3
cases/1M                     0
Deaths/1M                    0
comorbidity                226
Coma score                   0
Pulmonary score              0
cardiological pressure      97
Diuresis                     0
Platelets                  924
HBB                         16
d-dimer                   1114
Heart rate                1114
HDL cholesterol             35
Charlson Index               0
Blood Glucose                0
FT/month                   723
Infect_Prob                  0
dtype: int64

In [6]:
df['Children'].unique()

array([ 1.,  2.,  0., nan])

In [7]:
df['Children']=df['Children'].fillna(df['Children'].mean())

In [8]:
df['Platelets']=df['Platelets'].fillna(df['Platelets'].mean())

In [9]:
df['HBB']=df['HBB'].fillna(df['HBB'].mean())

In [10]:
df['d-dimer']=df['d-dimer'].fillna(df['d-dimer'].mean())

In [11]:
df['Heart rate']=df['Heart rate'].fillna(df['Heart rate'].mean())

In [12]:
df['HDL cholesterol']=df['HDL cholesterol'].fillna(df['HDL cholesterol'].mean())

In [13]:
df['FT/month']=df['FT/month'].fillna(df['FT/month'].mean())

In [14]:
df = df[df.columns]

In [15]:
df.head()

,people_ID,Designation,Name,Insurance,salary,Age,Gender,Region,Married,Children,...,Diuresis,Platelets,HBB,d-dimer,Heart rate,HDL cholesterol,Charlson Index,Blood Glucose,FT/month,Infect_Prob
0,1,Mrs,mansi,3600000.0,1300000,68,Female,Bhubaneshwar,YES,1.0,...,441,154.0,93.0,233.0,82.0,58.0,27,7,2.0,49.135010
1,2,Mrs,riya masi,1600000.0,400000,64,Female,Bhubaneshwar,YES,2.0,...,151,121.0,56.0,328.0,89.0,68.0,5,6,1.0,51.147880
2,3,Mrs,sunita,3400000.0,900000,19,Female,Bhubaneshwar,NO,1.0,...,416,124.0,137.0,213.0,77.0,43.0,40,6,1.0,73.224000
3,4,Mrs,anjali @ babli,700000.0,2300000,33,Female,Bhubaneshwar,YES,1.0,...,410,98.0,167.0,275.0,64.0,60.0,27,7,1.0,48.779225
4,5,Mrs,champa karketta,3200000.0,1100000,23,Female,Bhubaneshwar,NO,2.0,...,390,21.0,153.0,331.0,71.0,64.0,32,7,1.0,87.868800

In [16]:
df.isna().sum()

people_ID                    0
Designation                  0
Name                        20
Insurance                 1090
salary                       0
Age                          0
Gender                       0
Region                       0
Married                      0
Children                     0
Occupation                 747
Mode_transport               3
cases/1M                     0
Deaths/1M                    0
comorbidity                226
Coma score                   0
Pulmonary score              0
cardiological pressure      97
Diuresis                     0
Platelets                    0
HBB                          0
d-dimer                      0
Heart rate                   0
HDL cholesterol              0
Charlson Index               0
Blood Glucose                0
FT/month                     0
Infect_Prob                  0
dtype: int64

In [17]:
df['Occupation']=df['Occupation'].astype('str')
df['Mode_transport']=df['Mode_transport'].astype('str')
df['comorbidity']=df['comorbidity'].astype('str')
df['cardiological pressure']=df['cardiological pressure'].astype('str')

In [18]:
from sklearn.preprocessing import LabelEncoder
labelencoder=LabelEncoder()
df['Occupation']=labelencoder.fit_transform(df['Occupation'])
df['Mode_transport']=labelencoder.fit_transform(df['Mode_transport'])
df['comorbidity']=labelencoder.fit_transform(df['comorbidity'])
df['cardiological pressure']=labelencoder.fit_transform(df['cardiological pressure'])
df['Gender']=labelencoder.fit_transform(df['Gender'])
df['Region']=labelencoder.fit_transform(df['Region'])
df['Married']=labelencoder.fit_transform(df['Married'])
df['Pulmonary score']=labelencoder.fit_transform(df['Pulmonary score'])

In [19]:
df.dtypes

people_ID                   int64
Designation                object
Name                       object
Insurance                 float64
salary                      int64
Age                         int64
Gender                      int32
Region                      int32
Married                     int32
Children                  float64
Occupation                  int32
Mode_transport              int32
cases/1M                    int64
Deaths/1M                   int64
comorbidity                 int32
Coma score                  int64
Pulmonary score             int32
cardiological pressure      int32
Diuresis                    int64
Platelets                 float64
HBB                       float64
d-dimer                   float64
Heart rate                float64
HDL cholesterol           float64
Charlson Index              int64
Blood Glucose               int64
FT/month                  float64
Infect_Prob               float64
dtype: object

In [20]:
df=df[df.columns]

In [21]:
df['Infect_Prob'] = pd.cut(df['Infect_Prob'],3,labels=['Low Risk','Moderate Risk','High Risk'])

In [22]:
df=df[df.columns]

In [23]:
df.dtypes

people_ID                    int64
Designation                 object
Name                        object
Insurance                  float64
salary                       int64
Age                          int64
Gender                       int32
Region                       int32
Married                      int32
Children                   float64
Occupation                   int32
Mode_transport               int32
cases/1M                     int64
Deaths/1M                    int64
comorbidity                  int32
Coma score                   int64
Pulmonary score              int32
cardiological pressure       int32
Diuresis                     int64
Platelets                  float64
HBB                        float64
d-dimer                    float64
Heart rate                 float64
HDL cholesterol            float64
Charlson Index               int64
Blood Glucose                int64
FT/month                   float64
Infect_Prob               category
dtype: object

In [24]:
df.to_csv('finalcorona.csv',index=False)

In [25]:
df['Infect_Prob']

0             Low Risk
1             Low Risk
2        Moderate Risk
3             Low Risk
4            High Risk
             ...
10709         Low Risk
10710         Low Risk
10711         Low Risk
10712    Moderate Risk
10713    Moderate Risk
Name: Infect_Prob, Length: 10714, dtype: category
Categories (3, object): [Low Risk < Moderate Risk < High Risk]

In [26]:
from sklearn.model_selection import cross_val_score
from sklearn.neighbors import KNeighborsClassifier
from sklearn.linear_model import LinearRegression

x=df.iloc[:,5:-2]
y = df.iloc[:,-1]

from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(x,y,test_size=0.1,random_state=3)

score = cross_val_score(KNeighborsClassifier() , x , y , cv=100)
print(np.mean(score))


classifier=KNeighborsClassifier(n_neighbors=4)
classifier.fit(X_train,y_train)

0.6985878739787222

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=4, p=2,
                     weights='uniform')

In [27]:
y_pred=classifier.predict(X_test)
print(y_pred)
print(y_test)

['Low Risk' 'Low Risk' 'Low Risk' ... 'Low Risk' 'Low Risk' 'Low Risk']
2392     Low Risk
10432    Low Risk
9083     Low Risk
5763     Low Risk
4415     Low Risk
           ...
879      Low Risk
2041     Low Risk
8831     Low Risk
7390     Low Risk
2698     Low Risk
Name: Infect_Prob, Length: 1072, dtype: category
Categories (3, object): [Low Risk < Moderate Risk < High Risk]

In [29]:
from sklearn.metrics import accuracy_score
from sklearn.metrics import confusion_matrix
classifier.score(X_test,y_test)

0.7098880597014925

In [31]:

from sklearn.model_selection import train_test_split
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import StratifiedKFold
from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis
from sklearn.naive_bayes import GaussianNB
from sklearn.svm import SVC


models = []
models.append(('LR', LogisticRegression(solver='liblinear', multi_class='ovr')))
models.append(('LDA', LinearDiscriminantAnalysis()))
models.append(('KNN', KNeighborsClassifier()))
models.append(('CART', DecisionTreeClassifier()))
models.append(('NB', GaussianNB()))
models.append(('SVM', SVC(gamma='auto')))
# evaluate each model in turn
results = []
names = []
for name, model in models:
	kfold = StratifiedKFold(n_splits=10, random_state=1, shuffle=True)
	cv_results = cross_val_score(model, X_train, Y_train, cv=kfold, scoring='accuracy')
	results.append(cv_results)
	names.append(name)
	print('%s: %f (%f)' % (name, cv_results.mean(), cv_results.std()))

LDA: 0.835824 (0.011517)
KNN: 0.696430 (0.007981)
CART: 0.861022 (0.007185)
NB: 0.755962 (0.016016)
SVM: 0.726406 (0.000466)